body {
  background-color:  rgb(159, 176, 223);
}
h3{
  text-decoration: underline;
}
#btt{
  color: black;
}
.container {
  background: white;
  border: 10px solid rgb(91, 123, 211);
  width: 2000px;
  border-radius: 7px;
  font-size: 20px;
}
.card {
  margin: 10px auto;
}
#get2018 {
  margin: 20px auto;
  width: 345px;
}
#get2019 {
 margin: 20px auto;
  width: 345px;
}
#get2020 {
  margin: 20px auto;
  width: 345px;
}
.card-body {
  background-color: white;
}
.card-title {
  text-align: center;
}
#even {
  background-color: white;
  color: black;
}
#odd {
  background-color: lightgray;
  color: black;
}
li img{
  height: 475px;
  /*width: 64px; */
}